body{
    background-color: lightgray;
}

button{
    border-radius: 14px;
    border: 2px solid #333333;
    padding: 8px 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
}

.filled button, icon button{
    background-color: #333333;
    color: white;
}

.icon button img{
    width: 15px;
    height: 15px;
    margin-right: 3px;
}

button:hover{
    background-color: green;
    color: white;
    cursor: pointer;
    border: 1px solid black;
}